@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.block-header__sub-title::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-quote:before {
  content: "\e902";
}

._icon-select-arrow:before {
  content: "\e903";
}

._icon-spoon:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #aaa;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  background: #0c0b08;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

.button {
  padding: 0.5rem 2rem;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #0c0b08;
  text-align: center;
  background: #dcca87;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.body-main-slider__controll,
.header__logo,
.scroll,
.block-header,
.button {
  font-family: CormorantUpright;
}

.no-webp .main-bg{
  background: url("../img/main-bg.jpg") center/cover no-repeat; }

.main-bg {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
}

.block-header {
  display: -ms-grid;
  display: grid;
  gap: 8;
  justify-items: center;
  text-transform: capitalize;
}

.block-header__sub-title {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #fff;
  display: -ms-grid;
  display: grid;
  gap: 8px;
  justify-items: center;
}

.block-header__sub-title::after {
  content: "\e904";
  color: #dcca87;
  font-size: 0.3913043478em;
}

.block-header__title {
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #dcca87;
}

.block-header_left {
  justify-items: stretch;
}

.block-header_left .block-header__sub-title {
  justify-items: stretch;
}

.scroll {
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #dcca87;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 24px;
}

.scroll::before {
  content: "";
  background: rgb(220, 202, 135);
  width: 1px;
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgb(220, 202, 135)), to(rgba(220, 202, 135, 0.2363117122)));
  background: -o-linear-gradient(top, rgb(220, 202, 135) 66%, rgba(220, 202, 135, 0.2363117122) 100%);
  background: linear-gradient(180deg, rgb(220, 202, 135) 66%, rgba(220, 202, 135, 0.2363117122) 100%);
}

[class*=__text] {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.header {
  color: #ffffff;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header._header-scroll {
  position: fixed;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: rgba(0, 0, 0, 0.8);
}

.header._header-show {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__column_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__column_auth {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header__auth {
  text-transform: capitalize;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.auth-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  row-gap: 5px;
}

.auth-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.auth-header__link {
  text-align: center;
  line-height: 1.3;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  z-index: 2;
}

.main-slider {
  background: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider__container:not(.main-slider__container_wide) {
  padding: 0;
}

.main-slider__container_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  position: relative;
}

.body-main-slider.swiper {
  overflow: visible;
}

.body-main-slider__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-main-slider__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body-main-slider__controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.body-main-slider__controll .swiper-pagination-bullet {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.75;
  letter-spacing: 0.04em;
  -webkit-transition: gap 0.8s ease 0s;
  -o-transition: gap 0.8s ease 0s;
  transition: gap 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-main-slider__controll .swiper-pagination-bullet::after {
  content: "";
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  width: 0px;
  background: #dcca87;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0px;
  height: 1px;
}

.body-main-slider__controll .swiper-pagination-bullet-active {
  gap: 8px;
}

.body-main-slider__controll .swiper-pagination-bullet-active::after {
  content: "";
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}

.slide-main-slider {
  display: -ms-grid;
  display: grid;
  padding: 25px 0 0 0;
  opacity: 0 !important;
  pointer-events: none;
  gap: 50px;
}

.slide-main-slider.swiper-slide-active {
  pointer-events: auto;
  opacity: 1 !important;
}

.slide-main-slider__content {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  justify-items: start;
}

.slide-main-slider__image-ibg {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 89.9709302326%;
}

.slide-main-slider__image-ibg::before,
.slide-main-slider__image-ibg::after {
  content: "";
  position: absolute;
  background: #dcca87;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 70.2746365105%;
  height: 63.226744186%;
}

.slide-main-slider__image-ibg::before {
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(25px, -25px);
      -ms-transform: translate(25px, -25px);
          transform: translate(25px, -25px);
}

.slide-main-slider__image-ibg::after {
  content: "";
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-25px, 25px);
      -ms-transform: translate(-25px, 25px);
          transform: translate(-25px, 25px);
}

.slide-main-slider__image-ibg img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 2;
}

.menu-main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  position: absolute;
  top: 0;
  left: 0.9375rem;
}

.menu-main-slider__link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #fff;
}

.menu-main-slider__link_current {
  color: #dcca87;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .body-main-slider {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-main-slider__slide {
    height: 100%;
  }

  .body-main-slider__controll {
    padding-top: 5.5rem;
  }

  .slide-main-slider {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .slide-main-slider__content {
    max-width: 31.25rem;
    padding-right: 2.5rem;
  }

  .slide-main-slider__image-ibg {
    max-height: 736px;
    height: 100%;
    margin-right: 3.8461538462%;
  }
}

@media (min-width: 71.875em) {
  .auth-header {
    padding: 22px 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .auth-header__item:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -24px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(38%, rgb(255, 255, 255)), color-stop(52%, rgb(255, 255, 255)), color-stop(66%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 38%, rgb(255, 255, 255) 52%, rgb(255, 255, 255) 66%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 38%, rgb(255, 255, 255) 52%, rgb(255, 255, 255) 66%, rgba(255, 255, 255, 0) 100%);
  }
}

@media (min-width: 71.875em) and (min-width: 83.125em) {
  .auth-header__item:not(:last-child)::before {
    right: -1.5rem;
  }
}

@media (min-width: 83.125em) {
  .block-header__sub-title {
    font-size: 1.4375rem;
  }

  .block-header__title {
    font-size: 4rem;
  }

  .block-header_big .block-header__title {
    font-size: 5.625rem;
  }

  .header__container {
    min-height: 7.5625rem;
  }

  ._header-scroll .header__container {
    min-height: 5rem;
  }

  .header__column {
    -ms-flex-preferred-size: 18.75rem;
        flex-basis: 18.75rem;
  }

  .header__logo {
    font-size: 2.75rem;
  }

  .menu__list {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .auth-header {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main-slider {
    padding-top: 11.5625rem;
  }

  .main-slider {
    padding-bottom: 4.375rem;
  }
}

@media (min-width: 90.3125em) {
  .main-slider__scroll {
    position: absolute;
    bottom: 0;
    right: 0.9375rem;
  }

  .menu-main-slider {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-main-slider__link {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
}

@media (max-width: 48em) {
  .header__logo {
    font-size: 2.1875rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .block-header__sub-title {
    font-size: 1.4375rem;
  }

  .block-header__title {
    font-size: 4rem;
  }

  .block-header_big .block-header__title {
    font-size: 2.5rem;
  }

  .header__container {
    min-height: 3.125rem;
  }

  ._header-scroll .header__container {
    min-height: 3.125rem;
  }

  .main-slider {
    padding-top: 5rem;
  }

  .main-slider {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 90.3125em) {
  .main-slider__scroll {
    display: block;
    padding-top: 0.9375rem;
  }

  .main-slider__scroll::before {
    display: none;
  }

  .slide-main-slider {
    padding: 50px 0;
  }
}

@media (max-width: 71.875em) {
  .auth-header {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .auth-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 61.99875em) {
  .touch .main-slider[data-fullscreen] {
    min-height: 0;
  }

  .main-slider__scroll {
    display: none;
  }

  .slide-main-slider__image-ibg {
    margin: 0px -0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__container {
    gap: 25px;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: #0c0c0c;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu__link {
    font-size: 2.1875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    height: 1.40625rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .slide-main-slider__content {
    justify-items: stretch;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .auth-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .auth-header__link {
    font-size: 1.75rem;
  }
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
    .block-header__sub-title {
      font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
    .block-header__sub-title {
      font-size: calc(1.4375rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
    .block-header__title {
      font-size: clamp( 4rem , 4rem  +  0vw , 4rem );
    }
}

@supports not (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
    .block-header__title {
      font-size: calc(4rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 2.5rem , 1.5099009901rem  +  4.9504950495vw , 5.625rem )) {
    .block-header_big .block-header__title {
      font-size: clamp( 2.5rem , 1.5099009901rem  +  4.9504950495vw , 5.625rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.5099009901rem  +  4.9504950495vw , 5.625rem )) {
    .block-header_big .block-header__title {
      font-size: calc(2.5rem + 3.125 * (100vw - 20rem) / 63.125);
    }
}

@supports (min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem )) {
    .header__container {
      min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem )) {
    .header__container {
      min-height: calc(3.125rem + 4.4375 * (100vw - 20rem) / 63.125);
    }
}

@supports (min-height: clamp( 3.125rem , 2.5309405941rem  +  2.9702970297vw , 5rem )) {
    ._header-scroll .header__container {
      min-height: clamp( 3.125rem , 2.5309405941rem  +  2.9702970297vw , 5rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 2.5309405941rem  +  2.9702970297vw , 5rem )) {
    ._header-scroll .header__container {
      min-height: calc(3.125rem + 1.875 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-top: clamp( 5rem , 2.9207920792rem  +  10.396039604vw , 11.5625rem )) {
    .main-slider {
      padding-top: clamp( 5rem , 2.9207920792rem  +  10.396039604vw , 11.5625rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.9207920792rem  +  10.396039604vw , 11.5625rem )) {
    .main-slider {
      padding-top: calc(5rem + 6.5625 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0829207921rem  +  3.9603960396vw , 4.375rem )) {
    .main-slider {
      padding-bottom: clamp( 1.875rem , 1.0829207921rem  +  3.9603960396vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0829207921rem  +  3.9603960396vw , 4.375rem )) {
    .main-slider {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 63.125);
    }
}
}

@media (min-width: 48em) and (max-width: 83.125em) {
@supports (flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem )) {
    .header__column {
      -ms-flex-preferred-size: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem );
          flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem );
    }
}

@supports not (flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem )) {
    .header__column {
      -ms-flex-preferred-size: calc(11.25rem + 7.5 * (100vw - 48rem) / 35.125);
          flex-basis: calc(11.25rem + 7.5 * (100vw - 48rem) / 35.125);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: calc(2.1875rem + 0.5625 * (100vw - 48rem) / 35.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
         -moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
              column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
         -moz-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
              column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 83.125em) {
  .menu__body {
    padding-top: 10.625rem;
  }

  .menu__body::before {
    height: 10.6875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 83.125em) {
@supports (padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 4.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (height: clamp( 6.25rem , 4.8440594059rem  +  7.0297029703vw , 10.6875rem )) {
    .menu__body::before {
      height: clamp( 6.25rem , 4.8440594059rem  +  7.0297029703vw , 10.6875rem );
    }
}

@supports not (height: clamp( 6.25rem , 4.8440594059rem  +  7.0297029703vw , 10.6875rem )) {
    .menu__body::before {
      height: calc(6.25rem + 4.4375 * (100vw - 20rem) / 63.125);
    }
}
}

@media (min-width: 71.875em) and (max-width: 83.125em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem ))) {
    .auth-header {
      -webkit-column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem );
              column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem ))) {
    .auth-header {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 71.875rem) / 11.25);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 71.875rem) / 11.25);
              column-gap: calc(1.25rem + 1.875 * (100vw - 71.875rem) / 11.25);
    }
}
}

@media (min-width: 71.875em) and (min-width: 71.875em) and (max-width: 83.125em) {
@supports (right: clamp( -1.5rem , 4.9652777778rem  +  -7.7777777778vw , -0.625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: clamp( -1.5rem , 4.9652777778rem  +  -7.7777777778vw , -0.625rem );
    }
}

@supports not (right: clamp( -1.5rem , 4.9652777778rem  +  -7.7777777778vw , -0.625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: calc(-0.625rem + -0.875 * (100vw - 71.875rem) / 11.25);
    }
}
}

@media (min-width: 71.875em) and (max-width: 71.875em) {
  .auth-header__item:not(:last-child)::before {
    right: -0.625rem;
  }
}

@media (max-width: 90.3125em) and (min-width: 61.99875em) {
  .body-main-slider__controll {
    padding-top: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #ac9a5a;
  }
}

@media (any-hover) {
  .menu__link:hover {
    color: #dcca87;
  }

  .auth-header__link:hover {
    color: #dcca87;
  }

  .slide-main-slider__image-ibg:hover::before {
    -webkit-transform: translate(30px, -30px);
        -ms-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }

  .slide-main-slider__image-ibg:hover::after {
    -webkit-transform: translate(-30px, 30px);
        -ms-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }

  .slide-main-slider__image-ibg:hover img {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .menu-main-slider__link:hover {
    color: #dcca87;
  }
}

.webp .main-bg{ background: url(../img/main-bg.webp) center/cover no-repeat; }